<footer>
  <div class="icons">
    <a href="https://www.argentina.gob.ar/inti" target="_blank">
      <img
        src="assets/images/footer/footer-icons.webp"
        alt="inti-logo-luca-lagos"
      />
    </a>
  </div>
  <div class="social-media">
    <div>
      <a href="https://www.facebook.com/luca.lagos.7/" target="_blank"
        ><i class="fa-brands fa-facebook-square"></i
      ></a>
      <a href="https://www.instagram.com/lucalagos_/" target="_blank"
        ><i class="fa-brands fa-instagram-square"></i
      ></a>
      <a href="https://www.linkedin.com/in/luca-lagos-frontend-developer/" target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
  </div>
  <div class="copyright">Copyright @ 2022. Desarrollado por Luca Lagos.</div>
</footer>
