<nav>
  <img
    src="assets/images/header/ap-icon.webp"
    alt="argentina-programa-logo-portfolio-luca-lagos"
  />
  <div class="nav-social-media">
    <div>
      <a href="facebook.com"><i class="fa-brands fa-facebook-square"></i></a>
      <a href="instagram.com"><i class="fa-brands fa-instagram-square"></i></a>
      <a href="twitter.com"><i class="fa-brands fa-twitter-square"></i></a>
      <a href="linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <button class="nav-login" routerLink="login">Iniciar sesión</button>
  </div>
</nav>
