<nav>
  <a
    href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"
    target="_blank"
  >
    <img
      src="assets/images/header/ap-icon.webp"
      alt="argentina-programa-logo-portfolio-luca-lagos"
    />
  </a>
  <div class="nav-social-media">
    <div>
      <a href="https://www.facebook.com/luca.lagos.7/" target="_blank"
        ><i class="fa-brands fa-facebook-square"></i
      ></a>
      <a href="https://www.instagram.com/lucalagos_/" target="_blank"
        ><i class="fa-brands fa-instagram-square"></i
      ></a>
      <a
        href="https://www.linkedin.com/in/luca-lagos-frontend-developer/"
        target="_blank"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <button class="nav-login" routerLink="login" *ngIf="!isLogged">
      Iniciar sesión
    </button>
    <button class="nav-login" (click)="onLogOut()" *ngIf="isLogged">
      Cerrar sesión
    </button>
  </div>
</nav>
