<section id="home">
    <div class="home-profile">
      <div class="home-profile-background">
        <img src="assets/images/home/profile-background.webp" alt="" />
      </div>
      <div class="home-profile-content">
        <img src="assets/images/home/profile-img.webp" alt="" />
        <a href="#" class="home-edit"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
      </div>
    </div>
    <div class="home-data">
      <div class="home-data-contact">
        <h1 id="complete-name">{{user.name}} {{user.lastname}}</h1>
        <h2>Abogado</h2>
        <p>
          Albuquerque, Estados Unidos <!--<a href="#">Información de contacto</a>-->
        </p>
      </div>
      <!--<div class="home-data-jobs">
        <div>
          <img src="assets/images/home/usa-gov-logo.webp" alt="" />
          <p>USA Government</p>
        </div>
        <div>
          <img src="assets/images/home/unm-logo.webp" alt="" />
          <p>University of New Mexico</p>
        </div>
      </div>-->
    </div>
    <!--<div class="home-buttons">
      <a href="#">Tengo interés en</a>
      <a href="#">Añadir Sección</a>
      <a href="#">Más</a>
    </div>-->
  </section>
