#projects {
    height: auto;
    margin: auto 150px 20px 150px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px var(--background-home);
  }
  
  #projects .projects-title {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  #projects .projects-title h1 {
    font-size: 25px;
    font-weight: bold;
  }
  
  #projects .projects-title a {
    font-size: 20px;
    padding: 10px;
    width: 45px;
    text-align: center;
    border-radius: 50px;
    background-color: var(--button-color-active-home);
    color: white;
    box-shadow: 4px 4px 0px var(--button-color-home);
    transition: transform 200ms, box-shadow 200ms;
  }
  
  #projects .projects-title a:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px var(--button-color-home);
  }

  #projects .project-empty-logout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
  }
  
  #projects .project-empty-logout i{
    font-size: 150px;
    color: var(--text-color-subtitle-home);
    margin-bottom: 25px;  
  }
  
  #projects .project-empty-logout p{
    font-size: 18px;
    font-weight: bold;
    color: var(--text-color-title-home);
    width: 250px;
  }

  #projects .project-add-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: var(--component-empty);
    color: var(--text-color-title-home);
    width: 400px;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 4px 4px 0px var(--text-color-title-home);
    transition: transform 200ms, box-shadow 200ms;
  }
  
  #projects .project-add-empty:active{
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px var(--text-color-title-home);
  }
  
  #projects .project-add-empty i{
    font-size: 125px;
    margin-bottom: 20px;
  }
  
  #projects .project-add-empty p{
    font-size: 17px;
    font-weight: bold;
  }
  
  #projects .projects-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  #projects .projects-panel .projects-panel-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
  }
  
  #projects .projects-panel .projects-panel-content h1 {
    font-size: 22px;
    font-weight: bold;
    color: var(--text-color-subtitle-home);
    margin-bottom: 10px;
  }
  
  #projects .projects-panel .projects-panel-content h2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color-title-home);
    margin-bottom: 10px;
  }
  
  #projects .projects-panel .projects-panel-content p {
    font-size: 13px;
    font-weight: bold;
    color: var(--text-color-title-home);
    margin-bottom: 15px;
  }

  #projects .projects-panel .projects-panel-content a {
    background-color: var(--info-color-active-home);
  padding: 8px 12px 8px 12px;
  margin-right: 10px;
  border-radius: 2px;
  color: white;
  font-weight: bold;
  box-shadow: 4px 4px 0px var(--info-color-home);
  transition: transform 200ms, box-shadow 200ms;
  margin-bottom: 20px;
  }

  #projects .projects-panel .projects-panel-content a:active{
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px var(--info-color-home);
  }
  
  #projects .projects-panel .projects-panel-edit{
      width: 115px;
      display: flex;
      justify-content: space-between;
  }
  
  #projects .projects-panel .projects-panel-edit a {
    font-size: 20px;
    padding: 10px;
    width: 45px;
    text-align: center;
    border-radius: 50px;
    background-color: var(--button-color-active-home);
    color: white;
    box-shadow: 4px 4px 0px var(--button-color-home);
    transition: transform 200ms, box-shadow 200ms;
  }
  
  #projects .projects-panel .projects-panel-edit a:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px var(--button-color-home);
  }
  