<section id="projects">
  <div class="projects-title">
    <h1>Proyectos</h1>
    <a href="#" class="projects-add"><i class="fa-solid fa-plus"></i></a>
  </div>
  <div class="projects-panel">
    <div class="projects-panel-content">
      <h1>Angular CRUD</h1>
      <h2>Feb 2022 - Jun 2022</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est
        accusantium quae assumenda facere, corrupti nobis. Aut repellat cum
        saepe, dolorem deserunt reprehenderit? Reiciendis, accusantium itaque
        perferendis quisquam odio nesciunt voluptates.
      </p>
      <a href="#">Link del proyecto <i class="fa-solid fa-link"></i></a>
    </div>
    <div class="projects-panel-edit">
      <a href="#" class="projects-edit"
        ><i class="fa-solid fa-pen-to-square"></i
      ></a>
      <a href="#" class="projects-delete"
        ><i class="fa-solid fa-trash-can"></i
      ></a>
    </div>
  </div>
  <div class="projects-panel">
    <div class="projects-panel-content">
      <h1>Angular CRUD</h1>
      <h2>Feb 2022 - Jun 2022</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est
        accusantium quae assumenda facere, corrupti nobis. Aut repellat cum
        saepe, dolorem deserunt reprehenderit? Reiciendis, accusantium itaque
        perferendis quisquam odio nesciunt voluptates.
      </p>
      <a href="#">Link del proyecto <i class="fa-solid fa-link"></i></a>
    </div>
    <div class="projects-panel-edit">
      <a href="#" class="projects-edit"
        ><i class="fa-solid fa-pen-to-square"></i
      ></a>
      <a href="#" class="projects-delete"
        ><i class="fa-solid fa-trash-can"></i
      ></a>
    </div>
  </div>
  <div class="projects-panel">
    <div class="projects-panel-content">
      <h1>Angular CRUD</h1>
      <h2>Feb 2022 - Jun 2022</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est
        accusantium quae assumenda facere, corrupti nobis. Aut repellat cum
        saepe, dolorem deserunt reprehenderit? Reiciendis, accusantium itaque
        perferendis quisquam odio nesciunt voluptates.
      </p>
      <a href="#">Link del proyecto <i class="fa-solid fa-link"></i></a>
    </div>
    <div class="projects-panel-edit">
      <a href="#" class="projects-edit"
        ><i class="fa-solid fa-pen-to-square"></i
      ></a>
      <a href="#" class="projects-delete"
        ><i class="fa-solid fa-trash-can"></i
      ></a>
    </div>
  </div>
</section>
