<section>
  <div id="login-panel">
    <div class="login-header">
      <img src="assets/images/header/ap-logo.webp" alt="" />
    </div>
    <div class="login-body">
      <h2>Inicio de sesión</h2>
      <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <div class="form-control">
          <label for="email">Correo electrónico</label>
          <input type="email" name="user_name" [(ngModel)]="userName" required/>
        </div>
        <div class="form-control">
          <label for="password">Contraseña</label>
          <input type="password" name="password" [(ngModel)]="password" required/>
        </div>
          <input type="submit" value="Iniciar sesión" />
      </form>
      <hr/>
      <div class="login-social-media">
        <a href=""><i class="fa-brands fa-google"></i></a>
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
      </div>
    </div>
    <div class="login-footer">
      <a href="recovery-password">Olvidé mi contraseña.</a>
      <a href="register">¿No tienes una cuenta? Registrate.</a>
    </div>
  </div>
  <button id="go-back" routerLink="">
    <i class="fa-solid fa-rotate-left"></i>
  </button>
</section>
