<section id="education">
    <div class="education-title">
      <h1>Educación</h1>
      <a href="#" class="education-add"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="education-panel">
      <div class="education-panel-content">
        <img src="assets/images/home/unm-logo.webp" alt="" />
        <div class="education-panel-text">
          <h1>Abogacía</h1>
          <h2>University of New Mexico</h2>
          <h3>1991 - 1994</h3>
        </div>
      </div>
      <div class="education-panel-edit">
        <a href="#" class="experience-edit"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <a href="#" class="experience-delete"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
      </div>
    </div>
  </section>
