#education {
    height: auto;
    margin: auto 150px 20px 150px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 2px var(--background-home);
  }
  
  #education .education-title {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  #education .education-title h1 {
    font-size: 25px;
    font-weight: bold;
  }
  
  #education .education-title a {
    font-size: 20px;
    padding: 10px;
    width: 45px;
    text-align: center;
    border-radius: 50px;
    background-color: var(--button-color-active-home);
    color: white;
    box-shadow: 4px 4px 0px var(--button-color-home);
    transition: transform 200ms, box-shadow 200ms;
  }
  
  #education .education-title a:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px var(--button-color-home);
  }

  #education .education-add-empty{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: var(--component-empty);
    color: var(--text-color-title-home);
    width: 400px;
    height: 300px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 4px 4px 0px var(--text-color-title-home);
    transition: transform 200ms, box-shadow 200ms;
  }
  
  #education .education-add-empty:active{
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px var(--text-color-title-home);
  }
  
  #education .education-add-empty i{
    font-size: 125px;
    margin-bottom: 20px;
  }
  
  #education .education-add-empty p{
    font-size: 17px;
    font-weight: bold;
  }
  
  #education .education-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  #education .education-panel .education-panel-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  
  #education .education-panel .education-panel-content img {
    width: 60px;
    height: auto;
    margin-right: 15px;
  }
  
  #education .education-panel .education-panel-content div h1 {
    font-size: 22px;
    font-weight: bold;
    color: var(--text-color-subtitle-home);
    margin-bottom: 10px;
  }
  
  #education .education-panel .education-panel-content div h2 {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color-title-home);
    margin-bottom: 10px;
  }
  
  #education .education-panel .education-panel-content div h3 {
    font-size: 13px;
    font-weight: bold;
    color: var(--text-color-title-home);
    margin-bottom: 10px;
  }

  #education .education-panel .education-panel-content div h3:last-child {
   margin-bottom: 20px;
  }
  
  #education .education-panel .education-panel-edit{
      width: 115px;
      display: flex;
      justify-content: space-between;
  }
  
  #education .education-panel .education-panel-edit a {
    font-size: 20px;
    padding: 10px;
    width: 45px;
    text-align: center;
    border-radius: 50px;
    background-color: var(--button-color-active-home);
    color: white;
    box-shadow: 4px 4px 0px var(--button-color-home);
    transition: transform 200ms, box-shadow 200ms;
  }
  
  #education .education-panel .education-panel-edit a:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0px var(--button-color-home);
  }
  