<section id="skills">
  <div class="skills-title">
    <h1>Habilidades</h1>
    <a href="#" class="skills-add"><i class="fa-solid fa-pen-to-square"></i
      ></a>
  </div>
  <div class="skills-panel">
    <div class="skills-panel-content">
      <circle-progress
      [percent]="90"
      [maxPercent]="100"
      [radius]="75"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#1670ec'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'HTML'"
      [titleColor]="'#363636'"
      [titleFontSize]="'1.7em'"
      [titleFontWeight]="'bold'"
      [subtitle]="'Nivel avanzado'"
      [subtitleColor]="'#a7a6a6'"
      [subtitleFontSize]="'0.8em'"
      [subtitleFontWeight]="'bold'"
      [showUnits]="false"
    ></circle-progress>
    <circle-progress
      [percent]="90"
      [maxPercent]="100"
      [radius]="75"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#1670ec'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'HTML'"
      [titleColor]="'#363636'"
      [titleFontSize]="'1.7em'"
      [titleFontWeight]="'bold'"
      [subtitle]="'Nivel avanzado'"
      [subtitleColor]="'#a7a6a6'"
      [subtitleFontSize]="'0.8em'"
      [subtitleFontWeight]="'bold'"
      [showUnits]="false"
    ></circle-progress>
    <circle-progress
      [percent]="90"
      [maxPercent]="100"
      [radius]="75"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#1670ec'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'HTML'"
      [titleColor]="'#363636'"
      [titleFontSize]="'1.7em'"
      [titleFontWeight]="'bold'"
      [subtitle]="'Nivel avanzado'"
      [subtitleColor]="'#a7a6a6'"
      [subtitleFontSize]="'0.8em'"
      [subtitleFontWeight]="'bold'"
      [showUnits]="false"
    ></circle-progress>
    <circle-progress
      [percent]="90"
      [maxPercent]="100"
      [radius]="75"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#1670ec'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'HTML'"
      [titleColor]="'#363636'"
      [titleFontSize]="'1.7em'"
      [titleFontWeight]="'bold'"
      [subtitle]="'Nivel avanzado'"
      [subtitleColor]="'#a7a6a6'"
      [subtitleFontSize]="'0.8em'"
      [subtitleFontWeight]="'bold'"
      [showUnits]="false"
    ></circle-progress>
    <circle-progress
      [percent]="90"
      [maxPercent]="100"
      [radius]="75"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#1670ec'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'HTML'"
      [titleColor]="'#363636'"
      [titleFontSize]="'1.7em'"
      [titleFontWeight]="'bold'"
      [subtitle]="'Nivel avanzado'"
      [subtitleColor]="'#a7a6a6'"
      [subtitleFontSize]="'0.8em'"
      [subtitleFontWeight]="'bold'"
      [showUnits]="false"
    ></circle-progress>
    <circle-progress
      [percent]="90"
      [maxPercent]="100"
      [radius]="75"
      [outerStrokeWidth]="12"
      [innerStrokeWidth]="0"
      [outerStrokeColor]="'#1670ec'"
      [animation]="true"
      [animationDuration]="300"
      [title]="'HTML'"
      [titleColor]="'#363636'"
      [titleFontSize]="'1.7em'"
      [titleFontWeight]="'bold'"
      [subtitle]="'Nivel avanzado'"
      [subtitleColor]="'#a7a6a6'"
      [subtitleFontSize]="'0.8em'"
      [subtitleFontWeight]="'bold'"
      [showUnits]="false"
    ></circle-progress>
    </div>
  </div>
</section>
