<section id="experience">
    <div class="experience-title">
      <h1>Experiencia</h1>
      <a href="#" class="experience-add"
        ><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="experience-panel">
      <div class="experience-panel-content">
        <img src="assets/images/home/usa-gov-logo.webp" alt="" />
        <div>
          <h1>Senador</h1>
          <h2>USA Government - Jornada parcial</h2>
          <h3>Mar 2018 - actualidad. 2 años y 6 meses</h3>
          <h3>Washington D.C., Estados Unidos</h3>
        </div>
      </div>
      <div class="experience-panel-edit">
        <a href="#" class="experience-edit"
          ><i class="fa-solid fa-pen-to-square"></i
        ></a>
        <a href="#" class="experience-delete"
          ><i class="fa-solid fa-trash-can"></i
        ></a>
      </div>
    </div>
  </section>
